*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


/*----------DEBUG----------*/

.col {
    min-height: 300px;
    min-width: 250px;
    /* border: 1px solid black; */
}

section, footer{
    min-height: 400px;
}



/*----------DEBUG----------*/


/*************************************************
    GENERAL STYLES
*************************************************/

li{
    display: inline-block;
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
    padding: 1.5rem 0;
}

h4{
    font-size: 20px
}

p{
    margin-bottom: 1.5rem;
}


/*----------BACKGROUND COLORS----------*/

header, #features .button{
    background-color: #0084fd;
}

#features .col{
    background-color: #b5ddff;
}

nav .button, #planning .col, #benefits .col{
    background-color: white;
}

#planning, #benefits, #slogan, #testimonials .col{
    background-color: #9792e4;
}

footer{
    background-color: #333333;
}


/*----------TXT COLORS----------*/

nav a, .menu-icon, #features .button{
    color: white;
}

nav .button{
    color: black;
}

#features h3, article i{
    color: #0084fd;;
}

#features p{
    color: #5b6f80;
}

.tx-violet{
    color: #9792e4;
}

.tx-yellow{
   color: #fdc15f;
}


/*----------BUTTONS----------*/

.button{
    border-radius: 25px;
    display: inline-block;
}

.btn-small{
    padding: 0.5rem 1rem;
}

.btn-medium{
    padding: 0.5rem 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.btn-big{
    padding: 1rem 2.5rem;
    font-weight: bold;
}

.button i{
    padding-right: 0.5rem;
}


/************************************************
    UTILITIES
************************************************/

/*----------LAYOUT----------*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    padding: 2rem 2rem 4rem;
}

.col {
    margin: 2rem 0;
    padding: 0 2rem;
    text-align: center;
}


/*----------TEXT----------*/

.txt-center {
    text-align: center;
}


/************************************************
    SITE SECTIONS
************************************************/

/*----------HEADER----------*/

header{
    z-index: 500;
}

nav{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav a{
    padding: 0 1rem;
}

nav ul{
    display: none;
}

.menu-icon{
    font-size: 32px;
}


/*----------MAIN----------*/

/* features */

#features .col{
    border-radius: 1rem;
}

#features p{
    font-weight: bold;
}

#col-large{
    text-align: left;
}

#col-large img{
    width: 100%;
    display: block;
}

article i{
    padding-top: 1.5rem;
    font-size: 80px;
}

/* planning */

#planning .col{
    border-radius: 2rem;
}

/* testimonials */

#testimonials .col{
    border-radius: 2rem;
}

/* benefits */

#benefits .col{
    border-radius: 1rem;
}

/* about-us */


/* slogan */


/*----------FOOTER----------*/



/************************************************
    RESPONSIVE
************************************************/
