*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    color:white;
}


/*----------DEBUG----------*/

.col {
    min-height: 300px;
    min-width: 250px;
    /* border: 1px solid black; */
}

section, footer{
    min-height: 400px;
}


/*----------DEBUG----------*/


/*************************************************
    GENERAL STYLES
*************************************************/

li{
    display: inline-block;
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
    padding-bottom: 1.5rem;

}

h3{
    font-size: 25px;
    padding-bottom: 1.5rem;

}

h4{
    font-size: 20px;
    padding-bottom: 1.5rem;
    font-weight: lighter;
}

p{
    padding-bottom: 1.5rem;
}


/*----------BACKGROUND COLORS----------*/

header, #features .button{
    background-color: #0084fd;
}

#features .col{
    background-color: #b5ddff;
}

nav .button, #planning .col, #benefits .col{
    background-color: white;
}

#planning, #benefits, #slogan, #testimonials .col, #btn-arrow, #benefits .col .button, #ceo-card .button{
    background-color: #9792e4;
}

footer{
    background-color: #333333;
}


/*----------TXT COLORS----------*/

nav .button, #development h3, #development em, #btn-arrow i, #testimonials h4 , #testimonials article p, #about-us p{
    color: black;
}

#features h3, article i{
    color: #0084fd;;
}

#features p, #benefits article p{
    color: #5b6f80;
}

#testimonials h2, #benefits article h2, #benefits article h3, #about-us h2, #ceo-card h3, #about-us .circle i{
    color: #9792e4;
}

.tx-yellow{
   color: #fdc15f;
}


/*----------BUTTONS----------*/

.button{
    border-radius: 25px;
    display: inline-block;
}

.btn-small{
    padding: 0.5rem 1rem;
}

.btn-medium{
    padding: 0.5rem 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.btn-big{
    padding: 1rem 2.5rem;
    font-weight: bold;
}

.button i{
    padding-right: 0.5rem;
}

#btn-arrow{
    width: 70px;
    height: 70px;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 50%;
}


/************************************************
    UTILITIES
************************************************/

/*----------LAYOUT----------*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    padding: 2rem 2rem 3rem;
}

.col {
    margin: 2rem 0;
    padding: 0 2rem;
    text-align: center;
}


/*----------TEXT----------*/

#testimonials article, #benefits {
    text-align: center;
}

/*----------IMG----------*/

.circle{
    width: 200px;
    padding: 1.5rem 0;
    margin: 0 auto;
}


/************************************************
    SITE SECTIONS
************************************************/

/*----------HEADER----------*/

header{
    z-index: 500;
}

nav{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav a{
    padding: 0 1rem;
}

nav ul{
    display: none;
}

.menu-icon{
    font-size: 32px;
}


/*----------MAIN----------*/

/* features */

#features .col{
    border-radius: 1rem;
}

#features p{
    font-weight: bold;
}

#col-large{
    padding-top: 1.5rem;
    text-align: left;
}

#col-large img{
    width: 100%;
    display: block;
}

article i{
    padding: 1.5rem 0;
    font-size: 80px;
}

/* planning */

#planning img{
    width: 100%;
    padding-top: 1rem;
}

#planning h2{
    padding: 3rem 0;
}

#planning .col{
    border-radius: 2rem;
}

/* testimonials */

#testimonials .col{
    border-radius: 2rem;
}

#testimonials img{
    display: block;
    width: 200px;
    border-radius: 50%;
}

/* benefits */

#benefits .col{
    border-radius: 1rem;
    padding-top: 1.5rem;
    text-align: left;
}


/* about-us */

#about-us{
    padding-bottom: 2rem;
}

#about-us article{
    padding-top: 1rem;
}

#about-us .circle{
    margin: 0;
}

#about-us img{
    width: 200px;
    border-radius: 50%;
}

#ceo-card a{
    font-weight: lighter;
}

#ceo-card h3{
    font-size: 2rem;
}

#about-us .circle i{
    font-size: 80px;
    position: absolute ;
    left: 180px;
}

/* slogan */


/*----------FOOTER----------*/



/************************************************
    RESPONSIVE
************************************************/
